a,
a:active {
  color: #3d497b;
}

main {
  margin: auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
}
