main {
  max-width: 750px;
  margin: auto;
  padding: 40px;
  font-family: "nyt-franklin", Georgia, "Times New Roman", Times, serif;
  line-height: 1.6em;
}

h1 {
  line-height: 1.6em;
}

.note {
  background-color: rgb(228, 255, 246);
  border: thin solid aquamarine;
  border-radius: 1em;
  padding: 1em 2em;
}
