main {
  margin: auto;
  padding: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.6em;
}

article {
  max-width: 750px;
  align-content: flex-end;
}

h1 {
  line-height: 1.6em;
}

.note {
  background-color: rgb(228, 255, 246);
  border: thin solid aquamarine;
  border-radius: 1em;
  padding: 1em 2em;
}

.collection {
  font-family: Helvetica, Arial, sans-serif;
}

.collections-tabbed {
  margin-left: 2rem;
}

.document-title {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.document-name {
  margin-top: 0.2rem;
}

code {
  font-family: "SF Mono Medium", "Fira Code", "Cousine", "Consolas", monospace;
  /* background-color: #ededf5; */
  background-color: #f0f0fc;

  padding: 0.125rem;
  border-radius: 0.25rem;
}
